<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analysis</title>
    </head>

    <body>

        <header>
            <div>
                <p><img alt="Logo" id = "logo" class = "logo"/> Machine Learning Tool</p> 
            </div>
        </header>

        <main>
            <section>
                <h1>Sentiment Analysis</h1>
                <p>Extracting sentiment from a piece of text such as a tweet, a review or an article can provide us with
                valuable insight about the author's emotions and perspective: whether the tone is positive, neutral or
                negative, and whether the text is subjective (meaning it's reflecting the author's opinion) or objective
                (meaning it's expressing a fact). Our Sentiment Analysis endpoint is built exactly for this purpose.</p>
                <br>
                <p>To use this tool, type in a valid URL in the box below.</p>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label id="message">Insert a URL here</label>
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="URL">
                    <input id = "button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h1>Form Results</h1>
                <div id="results"></div>
            </section>
        </main>

        <footer>
                <div class="copyright">
                    &copy; Yuqi 2020
                </div>
        </footer>

        <!-- for service worker -->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
