form {
    border: 5px solid #EDCB64;
    border-radius: 3px;
    padding: 40px;
    margin-top: 20px;

    #message{
        color: #B62A3D;

    }

    input#name {
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        background-color: #DAECED;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        cursor: auto;
        font-size: medium;
    }

    input#button {
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        background-color: #B62A3D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
        font-size: medium;
    }


}



