body{
    background: #fff;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    height:100vh;
    font-size: 20px;

    .hero{
        grid-area:hd;
        border: 1px dashed blue;
        font-size: 3em;
        font-weight: bolder;
        color: #3b4a6b;
        padding: 0.5em 0em
    }

    .main{
        display: grid;
        border: 2px solid yellow;
        grid-template-columns: repeat(8, 1fr);
        //grid-auto-rows: minmax(80px, auto);
        grid-template-rows: 2em 2em 2em 1fr;
        grid-template-areas: 
        "pic pic pic pic first first first first"
        "pic pic pic pic second second second second"
        "pic pic pic pic third third third third"
        "pic pic pic pic fourth fourth fourth fourth";
        //height:100vh;
        background-color: #f23557;
        //justify-content: center;
        // align-content: center;
        grid-gap: 1em;
        padding: 1.2em;

    
        .destination{
            grid-area:first;
            color: #f0d43a;
            font-size: 1em;
            border: none;
    
            input{
                background:#22b2da;
                color: #f0d43a;
                border: none;
                font-size: 1em;
                padding: 3px;
                font-family: 'Oswald', sans-serif;
    
                &::placeholder{
                    color: #f0d43a; 
                }
            }
            
            
        }
    
        .departureDate{
            grid-area:second;
            color: #f0d43a;
            font-size: 20px;
            border: none;
    
            input{
                background:#22b2da;
                color: #f0d43a;
                border: none;
                font-size: 1em;
                padding: 3px;
                font-family: 'Oswald', sans-serif;
    
                &::placeholder{
                    color: #f0d43a; 
                }
            }
    
        }
    
        .buttons{
            grid-area:third;
    
            button{
                background: #3b4a6b;
                color: #f0d43a;
                font-size: 1em;
                border: none;
                // width: 30%;
                box-shadow: 2px 4px 5px #444;
            }
    
        }
    
    
        #cityPic{
            grid-area:pic;
    
            img{
                max-width:95%;
                height: auto;
                // margin: 1em;
                // margin-left: 1em;
                // margin-right: 1em;
                display: block;
            }
            
            
        }
    
        #results{
            grid-area:fourth;

            color: #3b4a6b;

            #cityName{
                //color: #3b4a6b;
                //font-size: 0.8em;
            }
            #daysAway{
                color: #f0d43a;
            }

            #temperature{
                //font-size: 0.8em;
                #tempTitle{
                    // font-size: 0.8em;
                }
                ul{
                    #temp, #tempFeel, #tempHigh, #tempLow, #temAvg{
                        //color: #f0d43a;
                        //font-size: 1em;
                    }

                }
                

            }
            

            #tempIcon{
                height:1em;
                vertical-align: middle;


            }

            #tempDes{

            }

            
        }






    }
    
    

    


    .footer{
        grid-area:ft;
        border: 1px dashed green;
        text-align: center;
        font-size: 15px;
        padding: 2em 0em
        

    }
}






// #entryHolder{

// }

// #date{

// }

// #temp{

// }

// #content{

// }

// .headline {
//     font-size: 50px;
//     font-weight: bolder;
// }
// .title{
//     font-size: 30px;
// }

// /*  Basic Styling To Override Default For Basic HTML Elements */
// label{
//     display:block;
//     font-size: 27px;
// }

// input{
//     display:block;
//     height: 60px;
//     width: 320px;
//     background:#22b2da;
//     color: #f0d43a;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
//     border: none;
// }

// button{
//     width: 320px;
//     height: 40px;
//     background: #3b4a6b;
//     color: #f0d43a;
//     font-size: 26px;
//     font-family: 'Oswald', sans-serif;
//     border: none;
//     box-shadow: 2px 4px 5px #444;
// }
// h1{
//     font-size: 36px;
// }




// #userDate, #userTemp, #userFeeling {
//     color: #22b2da;
//     font-weight: bold;
// }

// /* Reset style for HTML element on active to have no border*/
// input:focus,
// select:focus,
// button:focus {
//     outline: none;
// }
// /* Style for Placeholder Text*/
// ::placeholder { /* Firefox, Chrome, Opera */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 
  
// :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 
  
// ::-ms-input-placeholder { /* Microsoft Edge */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 