<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
  <body>
    <div id = "app">
      <div class ="holder headline">
        Travel Planner
      </div>
      <div class ="holder city">
        <label for="city">Where are you going?</label>
        <input type="text" id="city" placeholder="Enter a city name here">
      </div>
      <div class ="holder departureDate">
        <label for="departureDate">When will the trip start?</label>
        <input type="date" id="departureDate" required>
      </div>
      <div class ="holder generateButton">
        <button id="generate" type = "submit"> Save </button>
      </div>
      <div class ="holder entry">
        <div class = "title">Most Recent Entry</div>
        <div id = "results"></div>
        <div id = "cityPic"></div>
      </div>
    </div>
  </body>
</html>